@import url(./reset.css);
@import url(./helpers.css);
@import url(./cell-grid.css);

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  background-color: gray;
}

.main {
  height: 100dvh;
  width: 100vmin;

  --bg-main: #e8ca55;
  /* background-color: dimgray; */
  background-color: var(--bg-main);
  /* background-color: #ebcc1f; */
}

.grid-wrapper {
  flex-grow: 1;
}

/* modes */

.control-panel {
  justify-content: space-evenly;

  box-shadow: 0px -1vmin 0 #ffe994, 0 -2vmin 0 #d3b337;
  background-color: #d3b337;
}

.mode-option {
  padding: 5vmin;
}

.mode-option[disabled] {
  opacity: 0.2;
}

.mode-selected {
  background-color: var(--bg-main);
}

.mode-icon {
  width: 12vmin;
  height: 12vmin;
}
