@import url(./reset.css);
@import url(./helpers.css);
@import url(./cell-grid.css);

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  --bg-main: #e8ca55;
  /* background-color: dimgray; */
  background-color: var(--bg-main);
  /* background-color: #ebcc1f; */
}

.main {
  height: 100dvh;
}

.grid-wrapper {
  flex-grow: 1;
}

.mode-selector {
  font-size: 5rem;
  gap: 2rem;

  box-shadow: 0px -0.2rem 0 #ffe994, 0 -0.4rem 0 #d3b337;
  background-color: #d3b337;
}

.mode-icon {
  width: 3rem;
  height: 3rem;
}

.mode-selected {
  background-color: var(--bg-main);
}

.mode-option[disabled] {
  opacity: 0.2;
}
